.card-picker-td {
	padding: 15px;
	font-size: 25px;
	width: 30px;
	text-align: center;
}

.card-slot-td {
	padding: 15px;
	border-color: black;
	border-width: thin;
	border-style: solid;
	font-size: 25px;
	width: 30px;
	text-align: center;
}

.card-picker-tr {
}

.suit-h {
	background-color: red;
	color: white;
}

.suit-d {
	background-color: blue;
	color: white;
}

.suit-c {
	background-color: green;
	color: white;
}

.suit-s {
	background-color: black;
	color: white;
}

.dead-card {
	background-color: grey;
}

.highlighted-card {
	background-color: purple;
}

.column {
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
  	width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#right-column {
	background-color: #E8E8E8;
}

#next-button {
	padding: 5px;
	width: 180px;
}

#new-button {
	padding: 5px;
	width: 180px;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version,
}
