#header {
}

#body-elem {
  text-align: center;
}

.frequency-slider {

}

#trainer-results {
  margin: auto;
  width: 50%;
}

#trainer {
}

td, th {
  padding-right: 10px;
  padding-left: 10px;
  width: 350px;
  padding-bottom: 10px;
}


#trainer-body {
  margin: auto;
  width: 100%;
}

#trainer {
}

#results-table-entries {
  margin: auto;
}


.slider {
  -webkit-appearance: none;
  height: 20px;
  width: 200px;
  border-radius: 10px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}