#header {
}

#body-elem {
  text-align: center;
}

.frequency-slider {

}

#trainer-results {
  margin: auto;
  width: 50%;
}

#trainer {
}

td, th {
  padding-right: 20px;
  padding-left: 20px;
  width: 300px;
}


#trainer-body {
  margin: auto;
  width: 100%;
}

#trainer {
}

#results-table-entries {
  margin: auto;
}